* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: white;
  user-select: none;
  -webkit-app-region: drag;

  background-image: url("assets/bgImg.jpg");
  background-size: cover;
  background-position: center;

  color: white;
  font-family: 'Outfit', serif;

  overflow: auto;
}

.app {
  padding: 20px;
}


button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
  font-family: 'Outfit', serif;
}


.title-container {
    text-align: center;
    font-size: 32px;
}

.contents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin: 20px 0px 0px 0px;
    padding: 19px 14px 19px 13px;

    background: #FFF5EE;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 7px 1px rgba(190, 239, 187, 0.50);
    
}

.type-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.type-btn {
    background: #F3D5C2;
    font-size: 12px;
    padding: 4px 9px 3px 9px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(85, 61, 44, 0.50);
}


.timer {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: black;
}

#timerText {
    margin: 0px;
}

.state-btns-containter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.state-btn {
    font-size: 20px;
    background: #CFA88C;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 7px 0 rgba(85, 61, 44, 0.50);
    padding: 6px 13px 5px 15px;
}


#pauseBtn {
    display: none;
}

#resetBtn {
    display: none;
}

.pomodoro-count-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    margin-top: 10px;
}