* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    background: white;
    user-select: none;

    background-image: url("assets/bgImg.jpg");
    background-size: cover;
    background-position: center;

    color: white;
    font-family: 'Outfit', serif;

    overflow: hidden;
    -webkit-app-region: drag;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
    font-family: 'Outfit', serif;
    color: #553D2C;
}

.contents-container {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.title-bar {
    display: flex;
    align-items: flex-start;
    height: 26px;
    padding: 7px 12px;
    background: #FFF5EE;
    border: none;
    box-shadow: 0 0 10px 0 rgb(49, 38, 28, 0.5);
    transition: opacity 0.3s ease;
}

.title-bar.hidden {
    opacity: 0;
    pointer-events: none;
}

.window-controls {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    -webkit-app-region: no-drag;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    padding: 0;
    box-shadow: none;
}

.dot-close {
    background-color: #FF5F57;
}

.dot-minimize {
    background-color: #ffc72e;
}

.dot:hover {
    filter: brightness(0.8);
}

.title-container {
    width: fit-content;
    height: 5rem;
    text-align: center;
    font-size: 32px;
}

.pomodoro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 19px 14px 19px 13px;

    background: #FFF5EE;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 7px 1px rgba(190, 239, 187, 0.50);
    
}

.type-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.type-btn {
    font-size: 12px;
    padding: 4px 9px 3px 9px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 4px 0 rgba(95, 70, 52, 0.25);
}

.type-btn:hover {
    box-shadow: 0 0 4px 0 rgba(85, 61, 44, 0.40);
}

#pomodoroBtn {
    background: #CFA88C;
}

#shortBreakBtn {
    background: #F3D5C2;
}

#longBreakBtn {
    background: #F3D5C2;
}

.timer {
    display: flex;
    justify-content: center;
    font-size: 76px;
    color: black;
}

#timerText {
    margin: 0px;
}

.state-btns-containter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.state-btn {
    font-size: 20px;
    background: #8CA476;
    color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 7px 0 rgba(118, 139, 99, 0.40);
    padding: 6px 13px 5px 15px;
}

.state-btn:hover {
    box-shadow: 0 0 7px 0 rgba(118, 139, 99, 0.70);
}

#pauseBtn {
    display: none;
}

#resetBtn {
    display: none;
}

.pomodoro-count-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
}